<!DOCTYPE html>
<html>
<head>
    <title>Submitted Data</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="form-container">
        <h2>Submitted Details</h2>
        <p><strong>Name:</strong> {{data.name}}</p>
        <p><strong>Age:</strong> {{data.age}}</p>
        <p><strong>PAN No:</strong> {{data.pan}}</p>
        <p><strong>Aadhar No:</strong> {{data.aadhar}}</p>
        <a href="/">⟵ Go Back</a>
    </div>
</body>
</html>
